{# Shared button bar across the stats pages (legacy base/statbar.html) #}
<div class="btn-group justify-content-center col mb-2" role="group">
    <a class="btn btn-wmffl" href="{{ path('stats_leaders') }}">League Leaders</a>
    <a class="btn btn-wmffl" href="{{ path('stats_weekbyweek') }}">Week By Week</a>
    <a class="btn btn-wmffl" href="{{ path('stats_power') }}">Power Rank</a>
    <a class="btn btn-wmffl" href="{{ path('stats_players') }}">Player Stats</a>
    <a class="btn btn-wmffl" href="{{ path('stats_luck') }}">Luck Ratings</a>
    <a class="btn btn-wmffl" href="{{ path('stats_injuries') }}">Injury Report</a>
    <a class="btn btn-wmffl" href="{{ path('stats_records') }}">Player Records</a>
    <a class="btn btn-wmffl" href="/history/teammoney">Finances</a>
</div>
