{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        <div class="list-group mt-2">
            <a href="{{ path('admin_dashboard') }}"
               class="list-group-item list-group-item-action{% if app.request.attributes.get('_route') == 'admin_dashboard' %} active{% endif %}">
                Dashboard
            </a>
            <a href="{{ path('admin_money_paid') }}"
               class="list-group-item list-group-item-action{% if app.request.attributes.get('_route') == 'admin_money_paid' %} active{% endif %}">
                Paid Status
            </a>
            <a href="{{ path('admin_money_flags') }}"
               class="list-group-item list-group-item-action{% if app.request.attributes.get('_route') == 'admin_money_flags' %} active{% endif %}">
                Season Flags
            </a>
            <a href="{{ path('admin_headcoach') }}"
               class="list-group-item list-group-item-action{% if app.request.attributes.get('_route') == 'admin_headcoach' %} active{% endif %}">
                Head Coach
            </a>
            <a href="{{ path('admin_team_update') }}"
               class="list-group-item list-group-item-action{% if app.request.attributes.get('_route') == 'admin_team_update' %} active{% endif %}">
                Team Info
            </a>
            <a href="{{ path('admin_mvp') }}"
               class="list-group-item list-group-item-action{% if app.request.attributes.get('_route') == 'admin_mvp' %} active{% endif %}">
                MVP List
            </a>
            <a href="/admin/index"
               class="list-group-item list-group-item-action">
                Legacy Admin
            </a>
        </div>
    </div>
    <div class="col-md-10">
        {% block admin_content %}{% endblock %}
    </div>
</div>
{% endblock %}
