{# The article itself, shared by the view page and the publish-flow preview
   so a preview shows exactly what will go live. #}
<h1 class="text-center titleLine1 p-1">{{ article.title }}</h1>
<figure class="figure col text-center p-1">
    <img class="figure-img img-responsive" src="/{{ article.link }}"/>
    <div class="figure-caption caption ">{{ article.caption }}</div>
</figure>
<div>
    <span class="newsdate">Published: {{ article.displayDate|date('M d, Y') }}</span>
</div>
{% if article.lastEdited and article.lastEdited|date('Y-m-d') != article.displayDate|date('Y-m-d') %}
    <div>
        <span class="newsdate">Edited: {{ article.lastEdited|date('M d, Y') }}</span>
    </div>
{% endif %}
<div>
    {% if article.author %}
        <span class="byLine">By {{ article.author.name }}</span>
    {% endif %}
</div>
<div class="mainStory">
    <div class="mt-2">{{ article.text|raw }}</div>
</div>
